# Loading libraries

In [1]:
import pandas as pd

import numpy as np

# Importing data

In [6]:
FDI2 = pd.read_excel('FDI2.xlsx')

# Exploring data

In [7]:
FDI2.head()

,payscode,codepays,Année,ide,toc,tcr,fbcf,climatdaffaire,scoreeasedoingbusiness,caff,edb,crp,BUF,invf,finfree,CM
0,BGD,1,2004,4.489054e+08,38953960.63,59.512658,18286460936,47.380000,70.0,63.380000,66.00,0.11,55.0,50.0,70.0,10.671695
1,BGD,1,2005,7.605043e+08,51935441.53,64.327475,20071885132,42.400000,70.0,70.066667,61.30,0.06,55.0,50.0,70.0,4.751541
2,BGD,1,2006,4.565232e+08,59714312.41,68.933233,22056583775,50.916667,70.0,72.800000,63.90,-0.07,70.5,70.0,70.0,5.361124
3,BGD,1,2007,6.510297e+08,64798835.89,68.874875,23632938587,40.266667,70.0,69.450000,65.36,-0.18,70.3,60.0,60.0,10.969166
4,BGD,1,2008,1.328423e+09,62836842.93,68.598275,25952536543,36.650000,70.0,71.450000,67.00,-0.25,68.4,60.0,60.0,12.791560

In [10]:
FDI2.tail()

,payscode,codepays,Année,ide,toc,tcr,fbcf,climatdaffaire,scoreeasedoingbusiness,caff,edb,crp,BUF,invf,finfree,CM
325,TUR,22,2014,1.333700e+10,35361166.84,2.188542,292106000000,68.933333,83.400,NaN,NaN,NaN,NaN,NaN,NaN,23.405529
326,TUR,22,2015,1.927400e+10,34868314.46,2.720009,319228000000,67.200000,77.500,NaN,NaN,NaN,NaN,NaN,NaN,21.851067
327,TUR,22,2016,1.395000e+10,34681331.76,3.020135,326401000000,67.483333,73.980,NaN,NaN,NaN,NaN,NaN,NaN,19.750290
328,TUR,22,2017,1.154600e+10,34774823.11,3.648133,353331000000,66.566667,72.900,NaN,NaN,NaN,NaN,NaN,NaN,26.486011
329,TUR,22,2018,1.306100e+10,34728077.44,4.828370,351244000000,66.133333,73.875,NaN,NaN,NaN,NaN,NaN,NaN,19.176135

In [16]:
FDI2.columns = list(map(lambda x: x.lower(), FDI2.columns))
FDI2.columns.unique()

Index(['payscode', 'codepays', 'année', 'ide', 'toc', 'tcr', 'fbcf',
       'climatdaffaire', 'scoreeasedoingbusiness', 'caff', 'edb', 'crp', 'buf',
       'invf', 'finfree', 'cm'],
      dtype='object')

In [19]:
display(FDI2)

,payscode,codepays,année,ide,toc,tcr,fbcf,climatdaffaire,scoreeasedoingbusiness,caff,edb,crp,buf,invf,finfree,cm
0,BGD,1,2004,4.489054e+08,38953960.63,59.512658,18286460936,47.380000,70.000,63.380000,66.00,0.11,55.0,50.0,70.0,10.671695
1,BGD,1,2005,7.605043e+08,51935441.53,64.327475,20071885132,42.400000,70.000,70.066667,61.30,0.06,55.0,50.0,70.0,4.751541
2,BGD,1,2006,4.565232e+08,59714312.41,68.933233,22056583775,50.916667,70.000,72.800000,63.90,-0.07,70.5,70.0,70.0,5.361124
3,BGD,1,2007,6.510297e+08,64798835.89,68.874875,23632938587,40.266667,70.000,69.450000,65.36,-0.18,70.3,60.0,60.0,10.969166
4,BGD,1,2008,1.328423e+09,62836842.93,68.598275,25952536543,36.650000,70.000,71.450000,67.00,-0.25,68.4,60.0,60.0,12.791560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,TUR,22,2014,1.333700e+10,35361166.84,2.188542,292106000000,68.933333,83.400,NaN,NaN,NaN,NaN,NaN,NaN,23.405529
326,TUR,22,2015,1.927400e+10,34868314.46,2.720009,319228000000,67.200000,77.500,NaN,NaN,NaN,NaN,NaN,NaN,21.851067
327,TUR,22,2016,1.395000e+10,34681331.76,3.020135,326401000000,67.483333,73.980,NaN,NaN,NaN,NaN,NaN,NaN,19.750290
328,TUR,22,2017,1.154600e+10,34774823.11,3.648133,353331000000,66.566667,72.900,NaN,NaN,NaN,NaN,NaN,NaN,26.486011
329,TUR,22,2018,1.306100e+10,34728077.44,4.828370,351244000000,66.133333,73.875,NaN,NaN,NaN,NaN,NaN,NaN,19.176135

In [21]:
FDI2.rename(columns = {'ide' : 'fdi', 'toc' : 'commercial_opening_rate'}, inplace = True)

In [28]:
FDI2.rename(columns = {'tcr' : 'Exchange_rate' , 'fbcf' : 'gross_fixed_capital_formation' ,  'climatdaffaire' : 'business_climate',   'cm' : 'stock_market'}, inplace = True)

In [29]:
display(FDI2)

,payscode,codepays,année,fdi,commercial_opening_rate,Exchange_rate,gross_fixed_capital_formation,business_climate,scoreeasedoingbusiness,caff,edb,crp,buf,invf,finfree,stock_market
0,BGD,1,2004,4.489054e+08,38953960.63,59.512658,18286460936,47.380000,70.000,63.380000,66.00,0.11,55.0,50.0,70.0,10.671695
1,BGD,1,2005,7.605043e+08,51935441.53,64.327475,20071885132,42.400000,70.000,70.066667,61.30,0.06,55.0,50.0,70.0,4.751541
2,BGD,1,2006,4.565232e+08,59714312.41,68.933233,22056583775,50.916667,70.000,72.800000,63.90,-0.07,70.5,70.0,70.0,5.361124
3,BGD,1,2007,6.510297e+08,64798835.89,68.874875,23632938587,40.266667,70.000,69.450000,65.36,-0.18,70.3,60.0,60.0,10.969166
4,BGD,1,2008,1.328423e+09,62836842.93,68.598275,25952536543,36.650000,70.000,71.450000,67.00,-0.25,68.4,60.0,60.0,12.791560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,TUR,22,2014,1.333700e+10,35361166.84,2.188542,292106000000,68.933333,83.400,NaN,NaN,NaN,NaN,NaN,NaN,23.405529
326,TUR,22,2015,1.927400e+10,34868314.46,2.720009,319228000000,67.200000,77.500,NaN,NaN,NaN,NaN,NaN,NaN,21.851067
327,TUR,22,2016,1.395000e+10,34681331.76,3.020135,326401000000,67.483333,73.980,NaN,NaN,NaN,NaN,NaN,NaN,19.750290
328,TUR,22,2017,1.154600e+10,34774823.11,3.648133,353331000000,66.566667,72.900,NaN,NaN,NaN,NaN,NaN,NaN,26.486011
329,TUR,22,2018,1.306100e+10,34728077.44,4.828370,351244000000,66.133333,73.875,NaN,NaN,NaN,NaN,NaN,NaN,19.176135

I decided to drop the following columns because of ...

In [37]:
FDI3= FDI2.drop(['caff', 'edb', 'crp'], axis=1)

In [39]:
FDI3.columns = list(map(lambda x: x.lower(), FDI3.columns))
FDI3.columns.unique()

Index(['payscode', 'codepays', 'année', 'fdi', 'commercial_opening_rate',
       'exchange_rate', 'gross_fixed_capital_formation', 'business_climate',
       'scoreeasedoingbusiness', 'buf', 'invf', 'finfree', 'stock_market'],
      dtype='object')

In [40]:
FDI3.isna().sum()

payscode                           0
codepays                           0
année                              0
fdi                                0
commercial_opening_rate            0
exchange_rate                      0
gross_fixed_capital_formation      0
business_climate                   0
scoreeasedoingbusiness             0
buf                              165
invf                             165
finfree                          165
stock_market                       0
dtype: int64

In [41]:
FDI3.shape

(330, 13)

In [42]:
FDI3.dtypes

payscode                          object
codepays                           int64
année                              int64
fdi                              float64
commercial_opening_rate          float64
exchange_rate                    float64
gross_fixed_capital_formation      int64
business_climate                 float64
scoreeasedoingbusiness           float64
buf                              float64
invf                             float64
finfree                          float64
stock_market                     float64
dtype: object

In [47]:
FDI3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   payscode                       330 non-null    object
 1   codepays                       330 non-null    int64
 2   année                          330 non-null    int64
 3   fdi                            330 non-null    float64
 4   commercial_opening_rate        330 non-null    float64
 5   exchange_rate                  330 non-null    float64
 6   gross_fixed_capital_formation  330 non-null    int64
 7   business_climate               330 non-null    float64
 8   scoreeasedoingbusiness         330 non-null    float64
 9   invf                           165 non-null    float64
 10  finfree                        165 non-null    float64
 11  stock_market                   330 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 31.1+ KB

In [48]:
FDI3.drop('buf', axis=1, inplace=True)

KeyError: "['buf'] not found in axis"

# Data cleaning

In [45]:
FDI3.drop('buf', axis=1, inplace=True)

KeyError: "['buf'] not found in axis"

In [52]:
FDI3 = FDI3[(FDI3['invf'].isna()==False)]

In [53]:
FDI3.isna().sum()

payscode                         0
codepays                         0
année                            0
fdi                              0
commercial_opening_rate          0
exchange_rate                    0
gross_fixed_capital_formation    0
business_climate                 0
scoreeasedoingbusiness           0
invf                             0
finfree                          0
stock_market                     0
dtype: int64

In [54]:
print(FDI3['fdi'].value_counts())
print(FDI3['fdi'].isna().sum())

4.489054e+08    1
1.970334e+10    1
7.269407e+09    1
2.002912e+10    1
2.522774e+10    1
               ..
2.424890e+11    1
1.747500e+11    1
1.660840e+11    1
2.034920e+11    1
1.625921e+09    1
Name: fdi, Length: 165, dtype: int64
0